# Dipendenze di Composer
/vendor/

# Eseguibile di Kiota
/kiota/

# Codice client API generato
/src/IPaC/*

# Le costanti IPaC
!/src/IPaC/Constants/

# IPaC AccessTokenProvider
!/src/IPaC/AccessTokenProvider.php

# Definizioni API scaricate (artefatti)
/api-definitions/

# File di configurazione locale di NetBeans
/nbproject/

# File di configurazione locale di PHPUnit (se lo crei)
phpunit.xml

# File di log o di output temporanei
*.log
*.phpunit.result.cache

# Cartella con la docs generata da phpdocumentor
/docs/

# Cartella di phpDocumentor
/.phpdoc/

# Ignora il file con le variabili d'ambiente locali
.env
